/* Container styling */
.home-container {
  max-width: 100%;
  padding: 0;
  margin: 0 auto; /* Center the content */
}

/* Center the title */
.anime-title {
  text-align: center; /* Center the title */
  font-size: 2.5rem;
  margin: 2rem 0;
}

/* Make "Anime" sky blue */
.anime-title .highlight {
  color: skyblue;
}

/* Styling for the Anime List container */
.anime-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust to ensure 5 items per row */
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box; /* Include padding in width */
}


